*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Figtree', sans-serif;
}

.main {
	height: 100vh;
	background-color: hsl(47, 88%, 63%);
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	max-width: 100%;
}

.card {
	max-width: 375px;
	padding: 1.25em;
	margin: 0 1.5em;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 8px 8px 1px black;
}

.card__img {
	border-radius: 10px;
}

.card__btn {
	padding: 0.5em 1em;
	margin: 1.5em 0;
	border: none;
	background-color: hsl(47, 88%, 63%);
	border-radius: 5px;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
}

.card__publication-info {
	margin-bottom: 1.25em;
	color: hsl(0, 0%, 7%);
	font-size: 14px;
	font-weight: 500;
}
.card__header {
	margin-bottom: .75em;
	font-weight: 900;
	font-size: 23px;
	.card__link {
		text-decoration: none;
		color: #000;
		transition: color 0.3s;
	}
	.card__link:hover,
	.card__link:focus {
		color: hsl(47, 88%, 63%);
	}
}

.card__text {
margin-bottom: 0.75em;
    font-size: 15px;
    line-height: 1.5;
	font-weight: 500;
    color: hsl(0, 0%, 42%);
}


.card__author {
    padding: .5em 0;
    display: flex;
    align-items: center;
}
.card__author-photo {
    width: 30px;
}
.card__author-data {
    margin-left: 1em;
    font-size: 12px;
    font-weight: 800;

}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
